.hero
  - if current_user.transactions.complete.any?
    h2 Recent Transactions
    table
      = render current_user.transactions.complete.order(created_at: :desc)
  - else
      h2 Check Me In is all set!
      h3 Your next Mondo transaction will appear here. 💸
